# Exporting to CSV

In [3]:
import csv
import pandas as pd
import cx_Oracle

user_name = 'larionova'
password = 'pass'
server = 'orcl'

connection = cx_Oracle.connect(user_name, password, server)

sql = """
SELECT
    building_adress
FROM buildings
"""
df = pd.read_sql_query(sql, connection)

for _index, row in df.iterrows():
    b_address = row[0]
    with open("building "+b_address+".csv", "w", newline='') as file:
        writer = csv.writer(file)
        writer.writerow(["Building_adress", b_address])
        writer.writerow([])
        
        inner_sql = f"""
            SELECT
                building_adress,
                classroom_number
            FROM classrooms
            WHERE building_adress = '{b_address}'
        """
        inner_df = pd.read_sql_query(inner_sql, connection)
        print(inner_df, '\n')
  
        writer.writerow(["building_adress", "classroom_number"])
        for _index, inner_row in inner_df.iterrows():
            writer.writerow(inner_row)

   BUILDING_ADRESS  CLASSROOM_NUMBER
0  Ave Victory, 37                15

             BUILDING_ADRESS  CLASSROOM_NUMBER
0  Politekhnichna Street, 33               362

             BUILDING_ADRESS  CLASSROOM_NUMBER
0  Politekhnichna Street, 41               125

             BUILDING_ADRESS  CLASSROOM_NUMBER
0  Politekhnichna Street, 39               305

              BUILDING_ADRESS  CLASSROOM_NUMBER
0  Politekhnichna Street, 14a                 1