In [1]:
import re
import cx_Oracle
import pandas as pd
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.dashboard_objs as dashboard

In [2]:
user_name = 'larionova'
password = 'pass'
server = 'orcl'

In [3]:
connection = cx_Oracle.connect(user_name, password, server)

plotly.tools.set_credentials_file(username='larionovajul', api_key='QnpxdRbyMGGRqXpQDwXS')

# Total records in all cards of all people

## Bar chart

In [4]:
sql = '''
Select count(desks.serial_number)desks_count, buildings.building_adress
from buildings
join desks on buildings.building_adress = desks.building_adress
group by buildings.building_adress
'''

In [5]:
df = pd.read_sql_query(sql, connection)
df

   DESKS_COUNT             BUILDING_ADRESS
0            3  Politekhnichna Street, 14a
1            1   Politekhnichna Street, 33
2            6             Ave Victory, 37
3            1   Politekhnichna Street, 41
4            3   Politekhnichna Street, 39

In [8]:
data = [go.Bar(
            x=df['BUILDING_ADRESS'],
            y=df['DESKS_COUNT']
)]
layout = go.Layout(
    title='Total desks in all classrooms in every buildings',
    xaxis=dict(
        title='Buildings adress',
        titlefont=dict(family='Courier New, monospace',size=18,color='#7f7f7f')
    ),
    yaxis=dict(
        title='Total desks in all buildings',
        rangemode='nonnegative',
        autorange=True,
        titlefont=dict(family='Courier New, monospace',size=18,color='#7f7f7f')
    )
)
fig = go.Figure(data=data, layout=layout)

py.plot(fig)

'https://plot.ly/~larionovajul/4'

## Pie chart

In [9]:
pie = go.Pie(labels=df['BUILDING_ADRESS'], values=df['DESKS_COUNT'])
py.plot([pie])

'https://plot.ly/~larionovajul/6'

## Scatter

In [17]:
sql = '''
Select count(desks.serial_number)desks_count, buildings.number_of_floors
from buildings
join desks on buildings.building_adress = desks.building_adress
group by buildings.number_of_floors, buildings.building_adress
order by number_of_floors
'''

df = pd.read_sql_query(sql, connection)
df

   DESKS_COUNT  NUMBER_OF_FLOORS
0            6                 2
1            1                 3
2            3                 5
3            3                 5
4            1                 5

In [21]:
desks_floors = go.Scatter(
    x=df['NUMBER_OF_FLOORS'],
    y=df['DESKS_COUNT'],
    mode='lines+markers'
)
data = [desks_floors]

layout = go.Layout(
    title='Relation number of floors in buildings with desks amount',
    xaxis=dict(
        title='Number of floors',
        titlefont=dict(family='Courier New, monospace',size=18,color='#7f7f7f')
    ),
    yaxis=dict(
        title='Total desks in all buildings',
        rangemode='nonnegative',
        autorange=True,
        titlefont=dict(family='Courier New, monospace',size=18,color='#7f7f7f')
    )
)
fig = go.Figure(data=data, layout=layout)
py.plot(fig)

'https://plot.ly/~larionovajul/20'